body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Убираем скролл, карта должна быть на 100% экрана */
}

.absolute-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    /* Кнопка выхода будет поверх карты */
    padding: 8px 16px;
    background: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}